
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #222;
  line-height: 1.6;
}


header {
  background: #0a192f;
  color: #fff;
  padding: 20px 0;
}

.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo span {
  color: #64ffda;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #64ffda;
}


.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 80px 10%;
  background: white;
}

.about img {
  width: 180px;
  border-radius: 20%;
}

.about-text {
  max-width: 500px;
}


.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 80px 10%;
  background: #dde6ed;
}
.card1{
  background: #fff;
  padding: 10px;
  display: inline-flex;
   border-radius: 12px;
}
.card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
  
}

.card:hover {
  transform: translateY(-5px);
}

/* --- Footer --- */
footer {
  text-align: center;
  padding: 20px;
  background: #0a192f;
  color: white;

}
.wehbi{
  color: #64ffda;
}

/* --- Responsive Design --- */
@media (max-width: 760px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}
.skills{
  text-align: center;
 background: #dde6ed;
 
  
}
.card1:hover{
   transform: translateY(-5px);
    transition: 0.3s;
}
.code{
  color:brown;
  float:inline-end;
}
#PROJ {
 text-align: center ;
grid-column: 1/-1;
}
.contact{
  background-color: #0a192f;
  color:white;
  text-align: center;
  padding: 40px;
}

.download {
 
  text-align: center ;
  background: #dde6ed;
  padding-bottom: 35px;
  border-radius: 12px;
  transition: 0.3s;
}
#down
{
  border: solid 30px white;
  border-radius: 12px;
  background-color: white;
  text-decoration: none;
}
.dd:hover {
  transform: translateY(-5px);
 transition: 0.3s;
}
.about { background: #fff; }
.skills { background: #edf5fd; }
.projects { background: #dde6ed; }
.download { background: #dde6ed; }
.contact { background: #0a192f; }

ul 
{
  list-style-type: none; 
}
